<script>
  export let name;
  import Terminal from './Terminal.svelte';
  import SourceLink from './SourceLink.svelte';
</script>

<main>
    <h1>{name}</h1>
    <Terminal/>
    <SourceLink/>
</main>

<style>
  main {
    
      text-align: center;
      padding: 1em;
      margin: 0 auto;
  }

  h1 {
      color: #ff3e00;
      text-transform: uppercase;
      font-size: 4em;
      font-weight: 100;
  }

</style>
