<script>
  export let href;
</script>

<a {href}><slot></slot></a>

<style>
  a {
    color: white;
  }

  a:hover {
    color: #afa;
  }

  a:visited {
    color: white;
    text-decoration: none;
  }
</style>
